* {
    border: none;
    border-radius: 4px;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: 'Iosevka Term',FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 11px;
}

window#waybar {
    background-color: rgba(60, 56, 54, 0.9);
    border-bottom: 3px solid rgba(168, 153, 132, 0.5);
    color: #A89984;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 0;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#workspaces button {
    padding: 0 0.4em;
    background-color: transparent;
    color: #FBF1C7;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -2px transparent;
    /* Avoid rounded borders under each workspace name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(50, 48, 47, 0.5);
    box-shadow: inset 0 -3px #FB4934;
}

#workspaces button.focused {
    background-color: #282828;
    box-shadow: inset 0 -3px #CC241D;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #000000;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 7px;
    margin: 6px 2px;
    color: #FBF1C7;
}

#window,
#workspaces {
    margin: 0 0px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: #665C54;
}

#battery {
    background-color: #665C54;
    color: #FBF1C7;
}

#battery.charging, #battery.plugged {
    color: #FBF1C7;
    background-color: #665C54;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #CC241D;
    color: #FBF1C7;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #665C54;
    color: #FBF1C7;
}

#memory {
    background-color: #665C54;
}

#disk {
    background-color: #665C54;
}

#backlight {
    background-color: #665C54;
}

#network {
    background-color: #665C54;
}

#network.disconnected {
    background-color: #CC241D;
}

#pulseaudio {
    background-color: #665C54;
    color: #FBF1C7;
}

#pulseaudio.muted {
    background-color: #458588;
    color: #2a5c45;
}

#custom-media {
    background-color: #98971A;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #98971A;
}

#custom-media.custom-vlc {
    background-color: #D79921;
}

#temperature {
    background-color: #665C54;
}

#temperature.critical {
    background-color: #CC241D;
}

#tray {
    background-color: #458588;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #CC241D;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #98971A;
    color: #FBF1C7;
}

#mpd.disconnected {
    background-color: #D65D0E;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #689D6A;
    color: #FBF1C7;
    padding: 0 7px;
    margin: 6px 3px;
    min-width: 16px;
}

#keyboard-state {
    background: #B16286;
    color: #FBF1C7;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}
